 <div class="container">
    <div class="row">
        <div class = "login">
            <form class="form-signin" action="/register" method="POST" >
                <h2 class="form-signin-heading">Kayıt Ol</h2>
                <label for="inputPassword" class="sr-only">Ad</label>
                <input type="text" name = "name" class="form-control" placeholder="Ad" required>
                <label for="inputPassword" class="sr-only">Soyad</label>
                <input type="text" name="surname" class="form-control" placeholder="Soyad" required>
                <label for="inputEmail" class="sr-only">Kullanıcı Adı</label>
                <input type="text"  name="username" class="form-control" placeholder="Kullanıcı Adı" required autofocus>
                <label for="inputPassword" class="sr-only">Şifre</label>
                <input type="password" name = "password" id="inputPassword" class="form-control" placeholder="Şifre" required>
                
                <button style='margin-top:10px' class="btn btn-lg btn-success btn-block" type="submit">Kayıt Ol</button>

            </form>
        </div>
 
    </div>
      

    </div> <!-- /container -->

